/* ELEMENT SELECTORS */

link[rel="icon"] {
    height: 32pt;
    width: 32pt;
  }
  body {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0 auto;
    min-height: 100vh;
    overflow: auto;
    resize: both;  
  }
  header {
    height: 50px;
  }

  main {
    background-color: #274156;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    margin: 0 auto;
    min-height: 90.8vh;
    overflow: auto;
    resize: both;  
  }

  input[type="text"] {
    width: 26vw;
    max-width: 30vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    background: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    outline: none;
    text-decoration: none;        
  }
  
  footer {
    background-color: #373737;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 69px;
    justify-content: center;
    margin: 0 auto;
    min-height: 5vh;
    overflow: auto;
    resize: both;      
  }

/* PSEUDO-SELECTORS */

  .submit:before {
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    transform: translateX(100%);
    width: 100%;    
  }
  
  .submit:after {
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    box-sizing: border-box;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    width: 100%;         
  }
  
  .submit:hover {
    box-shadow: 0 5px 15px #0000008e;
  }
  
  .submit:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.3s;
  }
  
  .submit:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.5s;
  }
/* CLASS SELECTORS */

  .navCustom {
    background-color: #373737;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;    
  }
  
  .divNavTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

   
  .divMainTitle {
    display: flex;
    justify-content: center;
  }

  .divFormContainer {
    display: flex;
    justify-content: center;
  }

  .formContact {
    background-color: #373737;
    border-bottom: 3px solid #cca707;
    border-left: 3px solid #00a74a;
    border-radius: 15px;
    border-right: 3px solid #094a8f;
    border-top: 3px solid #9f0f17;
    display: flex;
    height: fit-content;
    justify-content: center;
    width: fit-content; 
  }

  .divInputsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 14px;
    max-width: 30vw;
    width: 26vw;
  }

  .txtAreaMensaje {
    height: 214px;
    max-width: 30vw;
    width: 26vw;
  }

  .divSubmitBtn {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 190px;
    justify-content: center;
  }

    
  .submit {
    background: transparent;  
    display: block;   
    float: left;
    font-weight: 900;
    height: auto;
    margin: 0 5px;    
    overflow: hidden;
    padding: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s linear;
    width: 140px;    
  }

  .divFooterText {
    align-content: center;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    font-family: "Oleo Script", cursive;
    font-size: x-large;
    font-weight: 400;
    justify-content: center;                
  }
  
  /* COMPOSED SELECTORS */

  .navCustom p {
    color: #ffffff;
    font-family: "Oleo Script", cursive;
    font-weight: 400;
  }
  
 
 
  .divMainTitle p {
    color: #f0f8ff;
    font-family: "Oleo Script", cursive;
    font-size: xx-large;
    font-weight: bold;
  }
  
  
  .divInputsContainer label {
    color: #ccc;
    font-family: "Oleo Script", cursive;
    font-size: medium;
    font-weight: 500;
  }
  

  .divSubmitBtn button {
    height: fit-content;
  }

  
  @media screen and (max-width: 300px) {
    .divInputsContainer {
      width: 30vw;
    }
  
    input[type="text"] {
      width: 30vw;
    }
  
    .txtAreaMensaje {
      width: 30vw;
    }
  }  